name: Test

on: [push, pull_request]

jobs:
  build:
    name: Test build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Test build
        uses: home-assistant/builder@2026.02.1
        with:
          args: |
            --test \
            --amd64 \
            --aarch64 \
            --target ./claude-terminal \
            --image "claude-terminal-prowine-{arch}" \
            --docker-hub ghcr.io/${{ github.repository_owner }}
