name: Test

on: [push, pull_request]

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Test build
        uses: home-assistant/builder@21bc64d76dad7a5184c67826aab41c6b6f89023a # 2025.11.0
        with:
          args: |
            --test \
            --amd64 \
            --aarch64 \
            --target ./claude-terminal \
            --image "claude-terminal-prowine-{arch}" \
            --docker-hub ghcr.io/${{ github.repository_owner }}
