name: Test

on: [push, pull_request]

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Test build
        uses: home-assistant/builder@2025.11.0
        with:
          args: |
            --test \
            --amd64 \
            --aarch64 \
            --target ./claude-terminal \
            --image "claude-terminal-prowine-{arch}" \
            --docker-hub ghcr.io/${{ github.repository_owner }}
