name: Test

on: [push, pull_request]

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Test build
        uses: home-assistant/builder@2024.03.5
        with:
          args: |
            --test \
            --all \
            --target ./claude-terminal \
            --image "claude-terminal-prowine-{arch}" \
            --docker-hub ghcr.io/${{ github.repository_owner }}
